name: "HCL AppScan CodeSweep Publish"
on:
  pull_request:
    types: [closed]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Publish issues to ASoC
        uses: HCL-TECH-SOFTWARE/appscan-codesweep-action@v2
        with:
          asoc_key: ${{secrets.ASOC_KEY}}
          asoc_secret: ${{secrets.ASOC_SECRET}}
          publish_on_merge: true
          application_id: c3e94caa-9630-4b18-b37b-9ad2930afad5
          status: failure
    env: 
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}